<html>
<head>
	<title>Cool</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../jquery/dist/jquery.min.js"></script>
	<script src="../moment/moment.js"></script>
	<script src="../popper.js/dist/umd/popper.min.js"></script>
	<script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
	<style>
	.flip{
	    line-height: 30px;
		margin: auto;
		font-size: 16px;
		padding: 5px;
		/* text-align: center; */
		background: #555;
		border: solid 1px #666;
		color: #ffffff;
		border-radius: 3px;
		user-select: none;
	}
	</style>
	<script>
		var compiled_files=[];
		function file_res(item,index){
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/report_files", false);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.onload = function() {
				compiled_files.push(JSON.parse(this.responseText));
			}
			xhr.send(JSON.stringify({com_file:item}));
		}
		var snap = <%- snap %>;
		var startTime = "<%- starttime %>";
		var endTime = "<%- endtime %>";
		var ssId = "<%- ssid %>";
		var vLink = "<%- vlink %>";
		var lLink = "<%- llink %>";
		var llis = <%- compiled_files %>;
		var lChats = <%- lchats %>;
		var lCompiled = <%- lcompiled %>;
		llis.forEach(file_res);
		var ttsop,ttoat,ttoaw,ttdis;
		var oat=[]
		var oaw=[]
		var dis=[]
		var toat=[]
		var toaw=[]
		var tdis=[]
		var temp1=[]
		var temp2=[]
		var temp3=[]
		var intdur = moment.duration(moment(endTime).diff(moment(startTime)));
		var intdat = moment(startTime).format("LL");
		var startingTime = moment(startTime).format("LTS");
		var endingTime = moment(endTime).format("LTS");
		function containsObject(obj, list) {
			var i;
			for (i = 0; i < list.length; i++) {
				if (JSON.stringify(list[i]) === JSON.stringify(obj)) {
					return true;
				}
			}
		
			return false;
		}
		
		for (const [key, value] of Object.entries(snap)){
			if(value.Action == 6 && (temp2.length!=0 || oaw.length==0)){
				if(temp2.length==0)
					temp2.push({Time:startTime});
				temp2.push(value);
				if(!containsObject(temp2,oaw)){
					if(oat.length!=0)
						if(!moment(oat[oat.length-1][0].Time).isBetween(moment(temp2[0].Time),moment(temp2[1].Time)) && !moment(oat[oat.length-1][1].Time).isBetween(moment(temp2[0].Time),moment(temp2[1].Time)) && temp2[0].Time!=temp2[1].Time){
							oaw.push(temp2);
							toaw.push(moment(temp2[1].Time).diff(moment(temp2[0].Time)))
						}
				}
				temp2=[];
			}
				
			else if(value.Action == 5 && (temp1.length!=0 || oat.length==0)){
				if(temp1.length==0)
					temp1.push({Time:startTime});
				temp1.push(value);
				if(!containsObject(temp1,oat)){
					oat.push(temp1);
					toat.push(moment(temp1[1].Time).diff(moment(temp1[0].Time)))
				}
				temp1=[];
			}
		
			else if(value.Action == 1 && temp3.length!=0 && value.Type!="Candidate"){
				if(temp3.length==0)
					temp3.push({});
				temp3.push(value)
				if(!containsObject(temp3,dis)){
					dis.push(temp3);
					tdis.push(moment(temp3[1].Time).diff(moment(temp3[0].Time)))
				}
				temp3=[];
			}
			else{
				if(value.Action==2 && temp3.length==0 && value.Type!="Candidate")
					temp3.push(value)
				else if(value.Action==3 && temp2.length==0)
					temp2.push(value)
				else if(value.Action==4 && temp1.length==0)
					temp1.push(value)
			}
		}
		if(!jQuery.isEmptyObject(temp1)){
			temp1.push({Time:endTime})
			oat.push(temp1)
			toat.push(moment(temp1[1].Time).diff(moment(temp1[0].Time)))
			temp1=[]
		}
		if(!jQuery.isEmptyObject(temp2)){
			temp2.push({Time:endTime})
			oaw.push(temp2)
			toaw.push(moment(temp2[1].Time).diff(moment(temp2[0].Time)))
			temp2=[]
		}
		
		if(!jQuery.isEmptyObject(temp3)){
			temp3.push({Time:endTime})
			dis.push(temp3)
			tdis.push(moment(temp3[1].Time).diff(moment(temp3[0].Time)))
			temp3=[]
		}
		ttoaw = moment.duration(toaw.reduce((a, b) => a + b, 0));
		ttoat = moment.duration(toat.reduce((a, b) => a + b, 0));
		ttdis = moment.duration(tdis.reduce((a, b) => a + b, 0));
		ttsop = ttoaw.asMilliseconds() + ttoat.asMilliseconds() + ttdis.asMilliseconds()
		ttsop = moment.duration(ttsop)
		
	</script>
</head>
<body style="background: linear-gradient(to top right, #ccccff 0%, #cc66ff 100%);">
<div class="row" style="margin-left:0px;margin-right:0px;padding:10">
  <div class="col-md-6"> 
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Session ID:</h5>
        <p class="card-text" id="sessid"><b>fsahbahffhas</b></p>
      </div>
    </div>
   </div>
  <div class="col-md-6"> 
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Logs Link:</h5>
        <p class="card-text" ><a href="" target="_blank" id="dlink">Click Here</a></p>
      </div>
    </div>
   </div>
</div>
<div class="row" style="margin-left:0px;margin-right:0px;padding:10">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Interview Duration:</h5>
        <p class="card-text" id="intdur"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Interview Date:</h5>
        <p class="card-text" id="intdat"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Interview Start Time:</h5>
        <p class="card-text" id="startingTime"></p>
		<h5 class="card-title">Interview End Time:</h5>
        <p class="card-text" id="endingTime"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Time Spent outside Portal:</h5>
        <p class="card-text" id="ttsop"></p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-left: 0;margin-right: 0;padding: 10;">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">Cursor Away from Window Count:</h5>
			<p class="card-text" id="cawc"></p>
			<h5 class="card-title">Duration of Action:</h5>
			<p class="card-text" id="dcawc"></p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">On Another Tab Count:</h5>
			<p class="card-text" id="catc"></p>
			<h5 class="card-title">Duration of Action:</h5>
			<p class="card-text" id="dcatc"></p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">No. of Times Disconnected:</h5>
			<p class="card-text" id="notd"></p>
			<h5 class="card-title">Duration of Action:</h5>
			<p class="card-text" id="dnotd"></p>
			</div>
		</div>
    </div>
	<div class="col-md-8">
		<h3>Interview Video:</h3>
		<video id="dinesh" width="60%" poster="https://www.lemonlight.com/app/uploads/2019/01/Twitter.png" controls="" style="border: double;object-fit: cover;">
			<source src="<%- vlink %>" type="video/mp4" >
			Your browser does not support HTML5 video.
		</video>
    </div>    
</div>
<div style="padding: 10;">
<p class="flip" style="cursor: pointer;">Cursor Away from Window Detailed</p>
    <table style="width: 100%;" id="adder1">
		<tr>
			<th>Sno.</th>
			<th>Time Start</th>
			<th>Time End</th>
			<th>Duration</th>
		</tr>
	</table>
<p class="flip" style="cursor: pointer;">On Another Tab Detailed</p>
    <table style="width: 100%;" id="adder2">
		<tr>
			<th>Sno.</th>
			<th>Time Start</th>
			<th>Time End</th>
			<th>Duration</th>
		</tr>
	</table>
<p class="flip" style="cursor: pointer;">No. of times Disconnected Detailed</p>
    <table style="width: 100%;" id="adder3">
		<tr>
			<th>Sno.</th>
			<th>Time Start</th>
			<th>Time End</th>
			<th>Duration</th>
		</tr>
	</table>	
</div>
</body>
<script>
	function fun(x){
		document.getElementById("dinesh").currentTime=x
	}
	document.getElementById("sessid").innerHTML="<b>"+ssId+"</b>";
	document.getElementById("dlink").href=lLink;
	document.getElementById("intdat").innerHTML="<b>"+intdat+"</b>"
	document.getElementById("intdur").innerHTML="<b>"+intdur.hours()+"</b>Hrs <b>"+intdur.minutes()+"</b>Mins <b>"+intdur.seconds()+"</b>Secs";
	document.getElementById("ttsop").innerHTML="<b>"+ttsop.hours()+"</b>Hrs <b>"+ttsop.minutes()+"</b>Mins <b>"+ttsop.seconds()+"</b>Secs";
	document.getElementById("dcawc").innerHTML="<b>"+ttoaw.hours()+"</b>Hrs <b>"+ttoaw.minutes()+"</b>Mins <b>"+ttoaw.seconds()+"</b>Secs";
	document.getElementById("dcatc").innerHTML="<b>"+ttoat.hours()+"</b>Hrs <b>"+ttoat.minutes()+"</b>Mins <b>"+ttoat.seconds()+"</b>Secs";
	document.getElementById("dnotd").innerHTML="<b>"+ttdis.hours()+"</b>Hrs <b>"+ttdis.minutes()+"</b>Mins <b>"+ttdis.seconds()+"</b>Secs";
	document.getElementById("startingTime").innerHTML="<b>"+startingTime+"</b>";
	document.getElementById("endingTime").innerHTML="<b>"+endingTime+"</b>";
	document.getElementById("cawc").innerHTML="<b>"+oaw.length+"</b>";
	document.getElementById("catc").innerHTML="<b>"+oat.length+"</b>";
	document.getElementById("notd").innerHTML="<b>"+dis.length+"</b>";
	for(var i=0;i<oaw.length;i++){
		temp1 = moment.duration(moment(oaw[i][0].Time).diff(moment(startTime)))
		temp2 = moment.duration(moment(oaw[i][1].Time).diff(moment(startTime)))
		temp3 = moment.duration(moment(oaw[i][1].Time).diff(moment(oaw[i][0].Time)))
		tab = document.createElement('tr')
		tabd1 = document.createElement('td')
		tabd2 = document.createElement('td')
		tabd3 = document.createElement('td')
		tabd4 = document.createElement('td')
		tabd1.innerHTML = String(i+1)
		tabd2a = document.createElement('a')
		tabd2a.setAttribute('href','#')
		tabd2a.setAttribute('onclick','fun('+String(temp1.asSeconds())+');return false;')
		tabd2a.innerHTML = String(temp1.hours())+":"+String(temp1.minutes())+":"+String(temp1.seconds())
		tabd2.appendChild(tabd2a)
		tabd3a = document.createElement('a')
		tabd3a.setAttribute('href','#')
		tabd3a.setAttribute('onclick','fun('+String(temp2.asSeconds())+');return false;')
		tabd3a.innerHTML = String(temp2.hours())+":"+String(temp2.minutes())+":"+String(temp2.seconds())
		tabd3.appendChild(tabd3a)
		tabd4.innerHTML="<b>"+temp3.hours()+"</b>Hrs <b>"+temp3.minutes()+"</b>Mins <b>"+temp3.seconds()+"</b>Secs";
		tab.appendChild(tabd1)
		tab.appendChild(tabd2)
		tab.appendChild(tabd3)
		tab.appendChild(tabd4)
		document.getElementById("adder1").appendChild(tab)
	}
	for(var i=0;i<oat.length;i++){
		temp1 = moment.duration(moment(oat[i][0].Time).diff(moment(startTime)))
		temp2 = moment.duration(moment(oat[i][1].Time).diff(moment(startTime)))
		temp3 = moment.duration(moment(oat[i][1].Time).diff(moment(oat[i][0].Time)))
		tab = document.createElement('tr')
		tabd1 = document.createElement('td')
		tabd2 = document.createElement('td')
		tabd3 = document.createElement('td')
		tabd4 = document.createElement('td')
		tabd1.innerHTML = String(i+1)
		tabd2a = document.createElement('a')
		tabd2a.setAttribute('href','#')
		tabd2a.setAttribute('onclick','fun('+String(temp1.asSeconds())+');return false;')
		tabd2a.innerHTML = String(temp1.hours())+":"+String(temp1.minutes())+":"+String(temp1.seconds())
		tabd2.appendChild(tabd2a)
		tabd3a = document.createElement('a')
		tabd3a.setAttribute('href','#')
		tabd3a.setAttribute('onclick','fun('+String(temp2.asSeconds())+');return false;')
		tabd3a.innerHTML = String(temp2.hours())+":"+String(temp2.minutes())+":"+String(temp2.seconds())
		tabd3.appendChild(tabd3a)
		tabd4.innerHTML="<b>"+temp3.hours()+"</b>Hrs <b>"+temp3.minutes()+"</b>Mins <b>"+temp3.seconds()+"</b>Secs";
		tab.appendChild(tabd1)
		tab.appendChild(tabd2)
		tab.appendChild(tabd3)
		tab.appendChild(tabd4)
		document.getElementById("adder2").appendChild(tab)
	}
	for(var i=0;i<dis.length;i++){
		temp1 = moment.duration(moment(dis[i][0].Time).diff(moment(startTime)))
		temp2 = moment.duration(moment(dis[i][1].Time).diff(moment(startTime)))
		temp3 = moment.duration(moment(dis[i][1].Time).diff(moment(dis[i][0].Time)))
		tab = document.createElement('tr')
		tabd1 = document.createElement('td')
		tabd2 = document.createElement('td')
		tabd3 = document.createElement('td')
		tabd4 = document.createElement('td')
		tabd1.innerHTML = String(i+1)
		tabd2a = document.createElement('a')
		tabd2a.setAttribute('href','#')
		tabd2a.setAttribute('onclick','fun('+String(temp1.asSeconds())+');return false;')
		tabd2a.innerHTML = String(temp1.hours())+":"+String(temp1.minutes())+":"+String(temp1.seconds())
		tabd2.appendChild(tabd2a)
		tabd3a = document.createElement('a')
		tabd3a.setAttribute('href','#')
		tabd3a.setAttribute('onclick','fun('+String(temp2.asSeconds())+');return false;')
		tabd3a.innerHTML = String(temp2.hours())+":"+String(temp2.minutes())+":"+String(temp2.seconds())
		tabd3.appendChild(tabd3a)
		tabd4.innerHTML="<b>"+temp3.hours()+"</b>Hrs <b>"+temp3.minutes()+"</b>Mins <b>"+temp3.seconds()+"</b>Secs";
		tab.appendChild(tabd1)
		tab.appendChild(tabd2)
		tab.appendChild(tabd3)
		tab.appendChild(tabd4)
		document.getElementById("adder3").appendChild(tab)
	}
</script>
</html>